<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<property name="connection.url">jdbc:p6spy:postgresql://localhost:5432/mydatabase</property>
		<property name="connection.driver_class">com.p6spy.engine.spy.P6SpyDriver</property>
		<property name="connection.username">jim</property>
		<property name="connection.password">ex1stgl0bal</property>
		<property name="transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
		<property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="current_session_context_class">thread</property>

		<mapping resource="employee.hbm.xml"/>

	</session-factory>

</hibernate-configuration>        


